{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "node": "current"
            }
        }],
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./src"]
        }],
        "@babel/plugin-syntax-object-rest-spread"
    ]
}
