{
    "presets": [
        ["env", {
            "targets": {
                "node": "current"
            }
        }]
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./src"]
        }],
        "syntax-object-rest-spread"
    ]
}
